<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <style>
        .pagination {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .pagination a {
            margin: 0 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center">Usuarios</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Administrador</th>
            <th>Autor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.username}"></td>
            <td th:text="${usuario.administrator ? 'Si' : 'No'}"></td>
            <td th:text="${usuario.autor ? 'Si' : 'No'}"></td>
            <td style="display: flex;">
                <a th:href="@{'/user/editar/' + ${usuario.username}}" style="margin-right: 10px;">
                    <button type="button" class="btn btn-primary">Editar</button>
                </a>
                <!-- Botón de eliminar -->
                <form action="@{'/user/eliminar/' + ${usuario.username}}" style="margin: 0;">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar este usuario?');">Eliminar</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pagination">
        <a href="#" th:if="${currentPage > 1}" th:href="@{/user/list/{page}(page=${currentPage - 1})}">Previous</a>
        <span th:each="page : ${#numbers.sequence(1, totalPages)}">
        <a href="#" th:href="@{/user/list/{page}}" th:text="${page}"></a>
    </span>
        <a href="#" th:if="${currentPage < totalPages}" th:href="@{/user/list/{page}(page=${currentPage + 1})}">Next</a>
    </div>
    <div class="row">
        <div class="col-3">
            <a href="/user/crear">
                <button type="button" class="btn btn-block btn-primary">Crear</button>
            </a>
        </div>
        <div class="col-3">
            <a href="/public">
                <button type="button" class="btn btn-block btn-danger">Salir</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>